@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply mt-6 border border-transparent rounded-md
    py-3 px-8 flex items-center justify-center text-base
    font-medium focus:outline-none focus:ring-0 focus:ring-offset-0 cursor-pointer;
}

.ql-toolbar.ql-snow,
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: none;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 200px;
}

/*================== || Date Picker ||==============================*/

/*-------Removes the // Before dd - day------------------------*/
input[type="date"]::-webkit-datetime-edit-text {
    color: transparent;
}

/*------- DatePicker ------------------------*/
input[type="date"] {
    font-weight: 900;
}

/*------- DatePicker - Focus ------------------------*/
input[type="date"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
}

/*------- Year ------------------------*/
input[type="date"]::-webkit-datetime-edit-year-field {
    @apply dark:text-gray-300 text-black;
    position: absolute !important;
    border-left: 1px solid #8c8c8c;
    padding: 2px;
    /* color: #000; */
    left: 56px;
}

/*------- Month ------------------------*/
input[type="date"]::-webkit-datetime-edit-month-field {
    @apply dark:text-gray-300 text-black;
    position: absolute !important;
    border-left: 1px solid #8c8c8c;
    padding: 2px;
    left: 26px;
}

/*------- Day ------------------------*/
input[type="date"]::-webkit-datetime-edit-day-field {
    @apply dark:text-gray-300 text-black;
    position: absolute !important;
    padding: 2px;
    left: 4px;
}
