@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply border border-transparent rounded-md
    py-3 px-8 flex items-center justify-center text-base
    font-medium focus:outline-none focus:ring-0 focus:ring-offset-0 cursor-pointer;
}

.ql-toolbar.ql-snow,
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: none;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 200px;
}

/*================== || Date Picker ||==============================*/

/*-------Removes the // Before dd - day------------------------*/
input[type="date"]::-webkit-datetime-edit-text {
    color: transparent;
}

/*------- DatePicker ------------------------*/
input[type="date"] {
    font-weight: 900;
}

/*------- DatePicker - Focus ------------------------*/
input[type="date"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
}

/*------- Year ------------------------*/
input[type="date"]::-webkit-datetime-edit-year-field {
    @apply dark:text-gray-300 text-black;
    position: absolute !important;
    border-left: 1px solid #8c8c8c;
    padding: 2px;
    /* color: #000; */
    left: 56px;
}

/*------- Month ------------------------*/
input[type="date"]::-webkit-datetime-edit-month-field {
    @apply dark:text-gray-300 text-black;
    position: absolute !important;
    border-left: 1px solid #8c8c8c;
    padding: 2px;
    left: 26px;
}
/*------- Day ------------------------*/
input[type="date"]::-webkit-datetime-edit-day-field {
    @apply dark:text-gray-300 text-black;
    position: absolute !important;
    padding: 2px;
    left: 4px;
}

/*------------- vSelect -----------------*/
.vs__dropdown-toggle {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
.vs__dropdown-menu,
.vs__selected {
    @apply dark:bg-[#1b1b29] bg-[#f5f8fa] dark:active:bg-[#1b1b29] active:bg-[#f5f8fa]
          dark:focus:bg-[#1b1b29] focus:bg-[#f5f8fa] dark:text-white text-black text-base;
}
.vs__dropdown-menu li {
    @apply px-2 py-3 hover:bg-[#0095e8] focus:bg-[#0095e8] active:bg-[#0095e8];
}

/**/
.dataTables_filter input {
    @apply text-sm text-gray-900 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-[#1b1b29] bg-[#f5f8fa] dark:border-gray-600 dark:placeholder-gray-400 mx-2;
}
.dataTables_paginate {
    @apply my-3 flex;
    justify-content: flex-start;
}
.dataTables_paginate span {
    @apply flex;
}
.paginate_button {
    @apply mx-2 bg-[#009ef7] border border-transparent rounded-md py-3 px-5 flex items-center justify-center text-base  text-sm text-white hover:bg-[#009ef7] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#009ef7] cursor-pointer;
}
.disabled,
.disabled:hover,
.current,
.current:hover {
  background: #151521;
  cursor: auto;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}